.main-center
  .main-center-name
    DartsBar一覧
  .main-center-sort
    並べ替え：おすすめ順 ⬇️
  
  .main-center-box
    .main-center-box-photo
      = image_tag "cropKUMAKICHI1027576.jpg", class: "image", width: "200px", height: "200px"
    .main-center-box-small
      .main-center-box-small-name
        1：ダーツバー梅田店
      .main-center-box-small-land
        場所：大阪梅田
      .main-center-box-small-star
        評価：★★★★
      .main-center-box-small-text
        大阪の梅田にあるDartsBarです。設置台はライブ３が２台で店員さんの態度も良く投げていて楽しい所です。おすすめですのでみんなで行ってみてください。
  .main-center-box
    .main-center-box-photo
      = image_tag "cropKM18923003.jpg", class: "image", width: "200px", height: "200px"
    .main-center-box-small
      .main-center-box-small-name
        ２：ダーツバー難波店
      .main-center-box-small-land
        場所：大阪難波
      .main-center-box-small-star
        評価：★★★★
      .main-center-box-small-text
        大阪の難波にあるDartsBarです。設置台はフェニックスが２台で店員さんの態度も良く投げていて楽しい所です。おすすめですのでみんなで行ってみてください。
  .main-center-box
    .main-center-box-photo
      = image_tag "0B443447-A76C-426A-B2C8-1A21A344CEEF_1_105_c.jpg", class: "image", width: "200px", height: "200px"
    .main-center-box-small
      .main-center-box-small-name
        ３：ダーツバー心斎橋店
      .main-center-box-small-land
        場所：大阪心斎橋
      .main-center-box-small-star
        評価：★★★★
      .main-center-box-small-text
        大阪の心斎橋にあるDartsBarです。設置台はフェニックスが２台で店員さんの態度も良く投げていて楽しい所です。おすすめですのでみんなで行ってみてください。
  .main-center-box
    .main-center-box-photo
      = image_tag "577C61EB-13C1-44FA-A35F-CBB04733D85F_1_105_c.jpg", class: "image", width: "200px", height: "200px"
    .main-center-box-small
      .main-center-box-small-name
        ４：ダーツバー茨木店
      .main-center-box-small-land
        場所：大阪茨木
      .main-center-box-small-star
        評価：★★★★
      .main-center-box-small-text
        大阪の茨木にあるDartsBarです。設置台はフェニックスが２台で店員さんの態度も良く投げていて楽しい所です。おすすめですのでみんなで行ってみてください。