.header-top
  .header-top-text DartsBar 検索サイト
  .header-top-image
    = image_tag "darts.png", width: "60px"
  .header-top-search
    = text_field  :search , id:"header-search-text"
  .header-top-Register
    .header-top-Register-join
      join
    .header-top-Register-signup
      signup