.main-left{
  background-color: white;
  width: 15%;
  float: left;
  padding: 0px 30px;
  &-word{
    font-size: 20px;
    padding: 50px 0px; 
    border-bottom: solid 1px #eeeeef;
  }
  &-land{
    font-size: 20px;
    padding: 50px 0px; 
    border-bottom: solid 1px #eeeeef;
  }
  &-type{
    font-size: 20px;
    padding: 50px 0px;
    border-bottom: solid 1px #eeeeef;
  }
  &-point{
    font-size: 20px;
    padding: 50px 0px;
    border-bottom: solid 1px #eeeeef;
  }
}